.programs {
  overflow: hidden;

  .wp-tabs__nav {
    margin-bottom: 40px;
  }
}

.program-card {
  padding-top: 60px;
  padding-bottom: 60px;
  position: sticky;
  top: 40px;

  &:nth-child(odd) {
    background-color: #f0eae0;
  }

  &:nth-child(even) {
    background-color: #f8f2e9;
  }

  &-cats {
    display: flex;
    column-gap: 5px;
    row-gap: 5px;
    flex-wrap: wrap;
    margin-bottom: 30px;

    li {
      border: 1px solid rgba(42, 42, 42, 0.1);
      border-radius: 20px;
      padding: 8px 12px;
      font-size: 14px;
      color: #2a2a2a;
    }
  }

  &-params {
    display: flex;
    column-gap: 45px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  &-action {
    display: flex;
    column-gap: 30px;
  }

  &-price {
    font-size: 32px;
    line-height: 100%;
    color: #2a2a2a;
    font-family: var(--font-family-second);

    &-wrap {
      display: flex;
      align-items: flex-end;
      column-gap: 5px;
      margin-bottom: 30px;
    }

    &-text {
      font-size: 20px;
      line-height: 100%;
      color: rgba(42, 42, 42, 0.5);
      font-family: var(--font-family-second);
    }
  }

  &-param {
    display: flex;
    align-items: center;
    column-gap: 15px;

    &-content {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      span {
        &:nth-child(1) {
          font-size: 28px;
          line-height: 100%;
          color: #2a2a2a;
          font-family: var(--font-family-second);
        }

        &:nth-child(2) {
          font-size: 14px;
          color: rgba(42, 42, 42, 0.7);
        }
      }
    }
  }

  &-line {
    display: flex;
    align-items: center;
    column-gap: 11px;
    margin-bottom: 30px;

    img {
      width: 20px;
    }

    span {
      width: 100%;
      height: 1px;
      background-color: rgba(122, 143, 97, 0.2);
    }
  }

  &-content {
    padding-right: 40px;
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .col {
      grid-column: 6 span;
    }
  }

  &-title {
    color: #663333;
    font-size: 40px;
    line-height: 100%;
    font-family: var(--font-family-second);
    margin-bottom: 30px;
  }

  .galSlider {
    overflow: visible;
    width: 100%;
  }

  .galSlide {
    transition: opacity .2s linear, transform .2s linear;
    opacity: 0;
    pointer-events: none;

    &:hover {
      opacity: 0 !important;
      visibility: hidden;
    }

    &.swiper-slide-active {
      opacity: 1;
      pointer-events: all;

      &:hover {
        opacity: .85!important;
        visibility: visible;
      }
    }

    &.swiper-slide-next {
      opacity: 1;
      pointer-events: all;
      transform: rotate(4deg) scale(.85);

      &:hover {
        opacity: .85!important;
        visibility: visible;
      }
    }

    &:hover {
      opacity: .85;
    }

    img {
      height: 500px;
      width: 100%;
      object-fit: cover;
    }
  }
}

.programsList {
  display: flex;
  flex-direction: column;
  gap: 0;
  /* Убираем стандартные отступы, так как карточки будут перекрывать друг друга */
}