@font-face {
	font-family: Miroslav;
	font-display: swap;
	src: url("../fonts/Miroslav.woff2") format("woff2"), url("../fonts/Miroslav.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
